@charset "UTF-8";
:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway';
  --accent-color: #FF6C00;
  --main-txt-color: #555555;
  --secondary-txt-color: rgba(48, 48, 48, 1);
  --secondary-bg-color: #F7F7F7;
  --dark-bg-color: #191C26;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Плавниий скролінг до секції */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Сітка для колекції з елементів
  |============================
*/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.grid-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.btn-mode-light {
  color: #303030;
}

.btn-mode-dark {
  color: #FFFFFF;
}

.header {
  background-color: var(--dark-bg-color);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-link,
.header-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.logo {
  margin-right: 71px;
}

.header-group {
  margin-left: auto;
}

.hero .container {
  background-color: var(--dark-bg-color);
}

.hero .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--accent-color);
}

.hero .uppertitle {
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  font-weight: 600;
  font-size: 11px;
}

.hero .title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--accent-color);
}

.hero .subtitle {
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  font-size: 18px;
}

.slider-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-align: right;
  color: #FFFFFF;
}

.slider-btn-disable {
  text-align: left;
  color: rgba(157, 164, 189, 0.6);
  background-color: transparent;
}

.advantages {
  background-color: #FFF5F6;
}

.advantages__amount {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.advantages__description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
}

.advantages__amount--milk::before {
  background-image: url("../images/advantages-icons/milk.png");
  content: " ";
  height: 50px;
  width: 33px;
  display: block;
  margin-bottom: 16px;
}

.advantages__amount--apples::before {
  background-image: url("../images/advantages-icons/apples.png");
  content: " ";
  height: 50px;
  width: 33px;
  display: block;
  margin-bottom: 16px;
}

.advantages__amount--heart::before {
  background-image: url("../images/advantages-icons/heart.png");
  content: " ";
  height: 50px;
  width: 33px;
  display: block;
  margin-bottom: 16px;
}
/*# sourceMappingURL=main.css.map */