:root {
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway';

    --accent-color: #FF6C00;
    --main-txt-color: #555555;
    --secondary-txt-color: rgba(48, 48, 48, 1);

    --secondary-bg-color: #F7F7F7;
    --dark-bg-color: #191C26;

}

//  /* grid items */
//  --items: 1;
//  --indent: 30px;

//  /* animations */
//  --slow-anim: 700ms ease;
//  --fast-anim: 400ms ease-in-out;
